layout: index
description: Sletjs is a fast, simple & powerful web framework powered by Node.js.
subtitle: A fast, simple & powerful web framework
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Blazing Fast
      p.intro-feature-desc Node.js brings you incredible generating speed. Hundreds of files take only seconds to build.We all know how fast V8 and the other JavaScript runtimes have gotten. Sletjs caches the intermediate JS functions for fast execution.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Koa 2.x + ES 6 Support
      p.intro-feature-desc All features of Koa 2.x and ES 6 are supported. You can even use most plugins in Koa.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title One-Command Deployment
      p.intro-feature-desc You only need one command to deploy your site to GitHub Pages, Heroku or other sites.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Various Plugins
      p.intro-feature-desc Hexo has a powerful plugin system. You can install more plugins for Jade, CoffeeScript plugins.